body{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
background-color: dodgerblue;
}
.App{ 
    color: cornsilk;
    padding: 0 36px;
    margin: 0 auto;
    
}
h1{
    
    padding: 40px 10px;  
    color: blanchedalmond;
    font-family: cursive;
}
.honeydo-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.item.completed{
    background-color: lightgreen;
    text-decoration: line-through;
}
.item{
    
    margin: 4px 0;
    font-size: 18px;
    background-color: gray;
    width: 45%;
    padding: 20px 8px;
    font-family: cursive;
    font-weight: lighter;
    cursor:pointer;
    
}
form{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}
form > input {
    background-color: dodgerblue;
    border: 0;
    padding: 7px 0;
    font-size: 1.5rem;
    width: 250px;
    outline: 0;
    color: white;
    border-bottom: 1px solid gray;
    margin-right: 8px;
}
button{
    background-color: gray;
    border: 1px solid gray;
    color: white;
    padding: 7px 12px;
    
}
input::placeholder{
    color: gray;
    opacity: 1;
}
